.TemperatureBackgroundColour {
    background-color: #f0f0f0;
}
.TemperatureBackgroundColourColdest {
    background-color: rgb(0, 0, 196);
}
.TemperatureBackgroundColourCold {
    background-color: rgb(35, 174, 255);
}
.TemperatureBackgroundColourOK {
    background-color: cyan;
}
.TemperatureBackgroundColourNice {
    background-color: rgb(255, 196, 0);
}
.TemperatureBackgroundColourBitWarm {
    background-color: orange;
}
.TemperatureBackgroundColourReallyWarm {
    background-color: red;
} 

.TemperatureTextArea{
    font-size: x-large;
    font-weight: bold;
}

.UVIndexTextArea{
    font-weight: lighter;
    font-style: italic;
}

.MainAreaTextBottom{
    padding-top: 10px;
    font-size: large;
    font-weight: bold;
}

#searchbar{
    text-align: center;
    width: 100%;
    padding: 10px;
    margin: 10px 0;

    border-radius: 5px;
    box-sizing: border-box;
}

#submitButton{
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 6px 20px rgba(0, 0, 0, 0.19) inset;
}

#submitButton:hover{
    background-color: #f0f0f0;
}

.IconChoice{
    display: block;
    margin-left: auto;
    margin-right: auto;
}